{% extends "shop/base.html" %}

{% block title %}Спасибо{% endblock %}

{% block content %}
    <h1>Спасибо!</h1>
    <p>Ваш заказ №{{ order.id }} успешно создан!</p>
    <p>Имя пользователя: {{ order.first_name }} {{ order.last_name }}</p>
    <p>Предметы самовывоза:</p>
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.product.name }} (Количество: {{ item.quantity }})</li>
            {% endfor %}
        </ul>
    <p>Адрес доставки: {{ order.address }}</p>
    <p>Дата заказа: {{ order.created }}</p>
    <p>Забрать заказ можете по адресу: Тимирязева, 67. Работаем ежедневно с 9:00 до 19:00.</p>
{% endblock %}
