{% block content %}
  <h2>Мои заказы</h2>
  {% if orders %}
    <ul>
    {% for order in orders %}
      <li>
        <h3>Заказ №{{ order.id }}</h3>
        <p>Имя пользователя: {{ order.first_name }} {{ order.last_name }}</p>
        <p>Дата заказа: {{ order.created }}</p>
        <p>Предметы доставки:</p>
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.product.name }} (Количество: {{ item.quantity }})</li>
            {% endfor %}
        </ul>
        <p>Адрес доставки: {{ order.address }}</p>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>У вас пока нет заказов.</p>
  {% endif %}
{% endblock %}

