<!DOCTYPE html>
<html lang="en">

<title>Авторизация пользователя</title>

{% block content %}

    <div class="card mb-3 border-0 nth-shadow">

        <div class="card-body">

            <div class="card-title nth-card-title">

                <h4>Авторизация на сайте</h4>

            </div>

            <form method="post" action="">

                {% csrf_token %}

                {{ form.as_p }}

                <div class="d-grid gap-2 d-md-block mt-2">

                <button type="submit" class="btn btn-dark">Авторизоваться</button>

             </div>

            </form>

        </div>

    </div>

    <div class="card mb-3 border-0 nth-shadow">

        <div class="card-body">

            <div class="card-title nth-card-title">

                <a href="http://127.0.0.1:8000/register/"><h4>Новый пользователь?</h4></a>

            </div>

        </div>

    </div>

{% endblock %}
</html>

