{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1 style="text-align: left; font-size: 1.5em;">Ваша корзина покупок</h1>
    <table class="cart" style="margin-right: auto; margin-top: 0;">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Стоимость за штуку</th>
            <th>Общая стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td style="text-align: center;">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                        </a>
                    </td>
                    <td style="text-align: center;">{{ product.name }}</td>
                    <td style="text-align: center;">{{ item.quantity }}</td>
                    <td style="text-align: center;"><a href="{% url 'cart:cart_remove' product.id%}">Удалить</a></td>
                    <td class="num" style="text-align: center;">${{ item.price }}</td>
                    <td class="num" style="text-align: center;">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="button">
            Оформить заказ
        </a>
    </p>
{% endblock %}


